Repository ansible-collections/community.docker, pull requests merged in 2022-04, with the labels that each got.

#328 CI: Remove 'warn:' that's removed in ansible-core 2.14
  tests/integration/targets/docker_swarm/tasks/cleanup.yml
  tests/integration/targets/setup_docker/tasks/Fedora.yml
  tests/integration/targets/setup_docker/tasks/RedHat-7.yml
Labels: backport-1

#334 Switch from antsibull to antsibull-docs
  tests/sanity/extra/extra-docs.json
  tests/sanity/extra/extra-docs.py
Labels: backport-1

#337 Support getting container output from local logging driver
  changelogs/fragments/337-container-output-from-local-logging-driver.yml
  plugins/modules/docker_container.py
Labels: enhancement, docker-plain

#327 docker connection: handle version and docker_args
  changelogs/fragments/327-connection-fix.yml
  plugins/connection/docker.py
  tests/unit/plugins/connection/test_docker.py
Labels: bug, docker-plain, backport-1
